
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Ubuntu&display=swap');
/*-------common style and utilities---------*/
body{
    background-color:#d3d1d1;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
main{
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction:column;
    align-items: center;   
}
/* header style */
.header-info{
    margin:60px 120px;
    display:flex;
    justify-content: space-between;
    font-size:30px;

}
.cart ul{
    display: flex;
}
.cart ul li{
   list-style: none;
    padding:5px 20px;
    font-size: 20px;

}
.cart ul li a{
   text-decoration: none;
   color:#3A3A3A;

}
/* ---------******---------
influencer frist love style start
------------******------------- */
.preorder-item{
    display: flex;
    justify-content: space-between;
    margin:0 120px 60px 120px;
}
.half-width{
    width: 50%;
}
.pre-item-about:hover .product-title{
    border: 10px solid rgba(233, 232, 216, 0.842);
    border-radius:20px;
    background-color: honeydew;
    animation-name: colorful;
    animation-duration: 4s;
}
@keyframes colorful{
    0% { background-color: rgba(155, 221, 172, 0.959);}
    25% { background-color: rgb(197, 185, 166);}
    50% { background-color: rgba(182, 227, 233, 0.774);}
    75% { background-color: rgba(209, 199, 185, 0.774);}
    100% { background-color: rgb(243, 245, 222);}
}
.product-title{
    font-size:50px;
    font-weight: 700;
}
.product-discription{
    text-align: justify;
}
.prebook-button{
    display: flex;
    height:45px;
    width:195px;
    background-color:#E02C6D;
    border-radius:40px;
    align-items:center;
    justify-content:center;
}
.prebook-button a{
    color:#FFFFFF;
    font-size:15px;
    text-decoration: none;
}
.camera-img{
    border: 50px solid rgba(233, 232, 216, 0.842);
    border-radius:75%;
    display: flex;
    background-color: honeydew;
}
.camera-img:hover img{
transform: scale(1.3);
}
/* sponcer style */
.sponser{
    width: 1110px;
    height: 110px;
    margin: 60px 0;
    border: 3px rgba(128, 128, 128, 0.658);
    border-style:solid none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo img{
    padding:30px;
}
/*-------popular collection style-------*/
.popular-collection-title{
text-align: center;
}
.popular-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap:50px;
}
.fa-star.filled{
    color: #FFC014;
}
.popular-collection{
    width:1050px;
}
.popular-collection-title{
    color:#3A3A3A;
    font-size: 30px;
}
.popular-item{
    background-color: #FFFFFF;
    box-shadow: 10px 10px 10px rgba(126, 124, 124, 0.486);
    border-radius: 5px;
    width: 330px;
}
.popular-item-content{
    margin: 15px;
}
.popular-item img{
    height:250px;
    width:300px;
}
.popular-item-content p{
    color: gray;
}
.item-price{
    font-size: 25px;
}
.seemore-button{
    display: flex;
    justify-content:flex-end;
    margin: 50px;
}
.seemore-button a{
    color:#E02C6D;
    text-decoration: none;
    font-size:20px;
}
/* feature product style */
.feature-content{
    display:grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    margin: 165px;
}
.feature-img img{
    height:270px;
    width:420px;
    border-radius:5px;

}
.feature-info h2{
    font-size: 40px;
}
.feature-info p{
    color: #6C6C6C;
    text-align: justify;
    font-size: 16px;
}
.connect-button{
    display: flex;
    height:45px;
    width:195px;
    background-color:#E02C6D;
    border-radius:3px;
    align-items:center;
    justify-content:center;
}
.connect-button a{
    color:#FFFFFF;
    font-size:15px;
    text-decoration: none;
}
/* footer section style */
footer{
    background-color:#0A0826;
    height: 240px;
    display: flex;
    align-items: center;
    justify-content:center;
}
.site-detail{
    color: gray;
    text-align: center;
}
.site-detail h3{
    font-size:30px;
}
.footer-icon{
    display: flex;
    justify-content: space-between;
    font-size: 30px;
}








/*************************************
 responsive design for mobile device ************************************/
@media only screen and (max-width:480px) {
    /* main style for mobaile device */
    body{
    display: grid;
    margin: 0;
    padding: 0;
    }

    /* .header-info{
        /* display:grid;
grid-template-columns:1fr;
    } */ 
    .header-info{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    }
    .header-info h3{
        display:flex;
        align-items: center;
        justify-content: center;
        margin: 0%;
        padding: 0%;
    }
/* preorder items style */
.preorder-item{
    display:grid;
    grid-template-columns: 1fr;
    margin:0;
    padding:0;
}
.half-width{
    width:auto;
}
.pre-item-about{
    width: 400px;
}
.camera-img{
    /* display: flex; */
    height: 300px;
    width:300px;
}
.camera-img:hover img{
transform: scale(1.3);
}
/* sponcer style */
.sponser{
    width:70%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo img{
    padding:2%;
}
/*-------popular collection style-------*/
.popular-collection{
    display: grid;
    grid-template-columns:1fr;
    height:auto;
    width:auto;
    margin:0;
}
    .popular-items{
        display: grid;
        grid-template-columns:1fr;
    }
    .seemore-button{
        display: flex;
        justify-content:flex-start;
    }
    /* feature product style */
.feature-content{
    display:grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    margin:0;
    width: 400px;
    text-align: center;
}
.feature-info{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    text-align:center;
}
}
/*******************************
 media quarry for tablet device
 *******************************/
 @media only screen and (min-width: 481px) and (max-width:1024px) {
       .header-info{
    margin: 60px 120px; 
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
/* preorder items style */
.preorder-item{
    display:flex;
   flex-direction: column;
    margin:0;
    justify-content: center;
    align-items: center;
}
.pre-item-about{
    width:80%;
}
.camera-img{
    /* display: flex; */
    /* height: 300px; */
    width:75%;
    display: flex;
justify-content: center;
align-items: center;
}
/* sponcer style */
.sponser{
    width:80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo img{
    padding:2%;
}
/*-------popular collection style-------*/
.popular-collection{
    display: grid;
    grid-template-columns:1fr;
    height:auto;
    width:auto;
    margin:0;
}
    .popular-items{
        display: grid;
        grid-template-columns:repeat(2, 1fr);
    }
    .popular-item{
        margin:30px;
    }
    .seemore-button{
        display: flex;
        justify-content:flex-start;
    }
    /* feature content style */
    .feature-content{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        margin:0;
        width:80%;
    }
    .feature-content img{
width: 600px;
height:400px;
    }
    .feature-info{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        text-align:center;
    }
 }